<div class="col-sm-8 blog-main">
 	<%#= paginate @blogs, :page_links => false %>
  <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <%= render @blogs %>

  <nav class="blog-pagination">
  <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  	<%#= paginate @blogs, :page_links => false %>
  </nav>
</div>

