<div class="col-sm-12 blog-main">
  
  <h5><span class="badge badge-secondary"><%= @topic.title %></span></h5>
  
  <%#= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <%= render @blogs %>
  <%= paginate @blogs, :page_links => false %>
  <%#= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>