<div class="col-sm-8 blog-main">

  <h1><%= @topic.title %></h1>

  <%#= paginate @blogs %>
  <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

  
  <%= render @blogs %>

  <%#= paginate @blogs %>
  <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

</div>