<style>
	.profile-image {
		width: 25%;
		border-radius: 50%;
		margin: 0 auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
</style>

<div class="container login-box">
	<div class="card" style:"width: 18rem;">
		<%# <div class="card-header mb-2">About Me</div> %>
		<div class="card-body">
			<div class="row">
				<%# <div class="float-right" > %>
					<%= image_tag "profile.jpg", alt: "Profile Image", class: 'profile-image card-img-top mb-2' %>
				<%# </div> %>
				<div class="col-md-12 text-center">
					<p class="lead">
						<span class="element"></span>
					</p>
					<%= render 'pages/about_buttons' %>
					<%= render 'pages/about_job_history' %>
					<%= render 'pages/about_education' %>
				</div>
			</div>
		</div>
	</div>
</div>


