<style>
  .row {
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
</style>

<div class="inner cover">
  <h1 class="cover-heading text-center">Rails News</h1>
  <div class="container">
    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="tech-news">
            <div class="card">
              <%= twitter_parser tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>